<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.jutransport">

    <uses-permission android:name="android.permission.CALL_PHONE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/project_logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".DhakaToCampus"></activity>
        <activity android:name=".CampusToDhaka" />
        <activity android:name=".ContactNumber" />
        <activity android:name=".BusSchedule" />
        <activity android:name=".BasicActivity" />
        <activity android:name=".logoutActivity" />
        <activity android:name=".registerActivity" />
        <activity android:name=".loginActivity" />
        <activity android:name=".HomeActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>